/*
 * Primary: #FFD65E, #B39439
 * Secondary: #FF9878, #B3715D
 * Accent: #6CD5FF
 *
 *
 *
 */

* {
	background: #FFD65E;
	margin: 0;
	padding: 0;
	font-family: "Rubik", sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.4em;
	color: #B3715D;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	height: 100%;
}
body {
	height: 100%;
	width: 100%;
}
h1, .h1, h2, .h2, h3, .h3, h1 > a, .h1 > a, h2 > a, .h2 > a, h3 > a, .h3 > a {
	text-decoration: none;
}
h1, .h1, h1 > a, .h1 > a, h1 > em, .h1 > em {
	font-size: 2rem;
	font-weight: 400;
	color: #B3715D;
	border-bottom: 1px solid #B3715D;
	margin: 1.6rem 0 1rem;
	text-decoration: none;
}
h1 > a {
	text-decoration: none !important;
	text-decoration-color: transparent;
	border-bottom: none;
}
h1:first-child, .h1:first-child {
	margin: 0 0 1rem;
}
h2, .h2, h2 > a, .h2 > a, h2 > em, .h2 > em {
	font-size: 1.6rem;
	font-weight: 400;
	margin: 1.2rem 0 0;
	text-decoration: underline;
}
h3, .h3, h3 > a, .h3 > a, h3 > em, .h3 > em {
	font-size: 1.2rem;
	font-weight: 400;
	color: #B3715D;
	margin: 1rem 0 0.5rem;
}
body {
	display: table;
}
.page-row {
	display: table-row;
	width: 100%;
	height: 1px;
}
.page-row > * {
	padding: 1rem;
}
.page-row > h1 {
	position: relative;
}
.page-row > h2, .page-row > h3 {
	margin-bottom: 0;
	padding-bottom: 0;
}
.page-row-expanded {
	height: 100%;
}
body > section {
  text-align: center;
}
body > section > * {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: calc(100vw - 2rem);
}
@media (min-width: 500px) {
	body > section > * {
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		width: 500px;
	}
}
footer {
	text-align: center;
}
footer.page-row > * {
	padding-top: 3em;
}
input, span {
	color: #333333;
	border: 1px solid #B39439;
	font-size: 110%;
	margin: 0.25em;
	padding: 0.25em 0.5em;
}
span {
	min-height: 1.5em;
	min-width: 1em;
}
input[type=number] {
	width: 30px;
}
/*  https://stackoverflow.com/a/40189766  */
input[type=number] { 
	-moz-appearance: textfield;
	appearance: textfield;
	margin: 0; 
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
button {
	/*background: #B39439;*/
	color: #B39439;
	border: 1px solid #B39439;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	margin: 0.5em;
	padding: 0.5em;
}
button:last-child {
	margin-right: 0;
}
.action-row {
	border-bottom: 1px solid #B39439;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: right;
}
.action {
	background: #6CD5FF;
	color: #333333;
	border: 1px solid #333333;
}
.secondary {
	background: #FF9878;
	color: #B3715D;
	border: 1px solid #B3715D;
}
label {
	position: relative;
	display: block;
	width: 100%;
	padding-top: 0.5em;
}

label input, label span {
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	text-align: right;
}

.field {
	min-height: 2em;
}
.integer-control {
	padding-top: 0.5em;
	text-align: right;
}

/* about */
.about {
	position: absolute;
	right: 1em;
	top: 0.5em;
	display: inline-block;
	width: 1.45em;
	height: 1.45em;
	border: 1px solid #B39439;
	color: #B39439;
	margin: 0;
	text-align: center;
}
code {
	font-family: 'IBM Plex Mono', monospace;
	background: #FF9878;
	color: #93513D;
	border: 1px solid #B3715D;
	margin: 0.25em 0 0.25em 1em;
	padding: 0.5em;
}
strong {
	font-weight: 600;
	font-family: 'IBM Plex Mono', monospace;
}
